<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Знайти книги</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='png-gif/book.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <div class="background">
        <div class="container">
            <form id="book-search-form" class="form">
                <h1>Знайти книги</h1>
                <label>Автор:
                    <input type="text" name="author" id="author-input" required>
                </label>
                <button type="submit" class="btn">Знайти</button>
            </form>

            {% if books is not none %}
                <h2>Результати:</h2>
                {% if books %}
                    <ul>
                        {% for book in books %}
                            <li><strong>{{ book.title }}</strong> ({{ book.pages }} стор.)</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Книг не знайдено</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

<script>
  document.getElementById('book-search-form').addEventListener('submit', function(event) {
      event.preventDefault(); // отменить стандартное поведение
      const author = document.getElementById('author-input').value.trim();
      if (author) {
          const encodedAuthor = encodeURIComponent(author);
          window.location.href = `/get-books/${encodedAuthor}`;
      }
  });
</script>
</body>
</html>
