<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Видалення акаунта</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='png-gif/delete.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <div class="background">
        <div class="container">
            <form method="post" action="/register-delete" class="form">
                <h2>Видалення акаунта</h2>

                {% if msg %}
                  <p class="{% if 'успішно' in msg %}message{% else %}error-msg{% endif %}">{{ msg }}</p>
                {% endif %}

                <label>Ім’я користувача:
                    <input type="text" name="username" required>
                </label>

                <label>Пароль:
                    <input type="password" name="password" required>
                </label>

                <button type="submit">Видалити акаунт</button>
            </form>

            <div class="bottom-link">
                <a href="/login" class="register-button">Повернутися до входу</a>
            </div>
        </div>
    </div>
</body>
</html>
